carbon-business-messaging/components/andes/org.wso2.carbon.stat.publisher.ui/src/main/resources/statPublisherService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://publisher.stat.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2261="http://data.internal.publisher.stat.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://publisher.stat.carbon.wso2.org">
    <wsdl:documentation>StatPublisherService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2262="http://data.internal.publisher.stat.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://publisher.stat.carbon.wso2.org">
            <xs:import namespace="http://data.internal.publisher.stat.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="setStatConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="StatConfigurationData" nillable="true" type="ax2261:StatConfiguration"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setStatConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStatConfiguration">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStatConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2261:StatConfiguration"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="URLValidator">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="URLS" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="URLValidatorResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.internal.publisher.stat.carbon.wso2.org/xsd">
            <xs:complexType name="StatConfiguration">
                <xs:sequence>
                    <xs:element minOccurs="0" name="MB_statEnable" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="enableStatPublisher" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="message_statEnable" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="system_statEnable" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="tenantID" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="URLValidatorRequest">
        <wsdl:part name="parameters" element="ns:URLValidator"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="URLValidatorResponse">
        <wsdl:part name="parameters" element="ns:URLValidatorResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="setStatConfigurationRequest">
        <wsdl:part name="parameters" element="ns:setStatConfiguration"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="setStatConfigurationResponse">
        <wsdl:part name="parameters" element="ns:setStatConfigurationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getStatConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getStatConfiguration"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getStatConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getStatConfigurationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="StatPublisherServicePortType">
        <wsdl:operation name="URLValidator">
            <wsdl:input message="ns:URLValidatorRequest" wsaw:Action="urn:URLValidator"></wsdl:input>
            <wsdl:output message="ns:URLValidatorResponse" wsaw:Action="urn:URLValidatorResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatConfiguration">
            <wsdl:input message="ns:setStatConfigurationRequest" wsaw:Action="urn:setStatConfiguration"></wsdl:input>
            <wsdl:output message="ns:setStatConfigurationResponse" wsaw:Action="urn:setStatConfigurationResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatConfiguration">
            <wsdl:input message="ns:getStatConfigurationRequest" wsaw:Action="urn:getStatConfiguration"></wsdl:input>
            <wsdl:output message="ns:getStatConfigurationResponse" wsaw:Action="urn:getStatConfigurationResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StatPublisherServiceSoap11Binding" type="ns:StatPublisherServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="URLValidator">
            <soap:operation soapAction="urn:URLValidator" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatConfiguration">
            <soap:operation soapAction="urn:setStatConfiguration" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatConfiguration">
            <soap:operation soapAction="urn:getStatConfiguration" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StatPublisherServiceSoap12Binding" type="ns:StatPublisherServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="URLValidator">
            <soap12:operation soapAction="urn:URLValidator" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatConfiguration">
            <soap12:operation soapAction="urn:setStatConfiguration" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatConfiguration">
            <soap12:operation soapAction="urn:getStatConfiguration" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StatPublisherServiceHttpBinding" type="ns:StatPublisherServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="URLValidator">
            <http:operation location="URLValidator"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatConfiguration">
            <http:operation location="setStatConfiguration"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatConfiguration">
            <http:operation location="getStatConfiguration"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StatPublisherService">
        <wsdl:port name="StatPublisherServiceHttpsSoap11Endpoint" binding="ns:StatPublisherServiceSoap11Binding">
            <soap:address location="https://10.219.57.153:9443/services/StatPublisherService.StatPublisherServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="StatPublisherServiceHttpsSoap12Endpoint" binding="ns:StatPublisherServiceSoap12Binding">
            <soap12:address location="https://10.219.57.153:9443/services/StatPublisherService.StatPublisherServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="StatPublisherServiceHttpsEndpoint" binding="ns:StatPublisherServiceHttpBinding">
            <http:address location="https://10.219.57.153:9443/services/StatPublisherService.StatPublisherServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>